/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/06/2016, 17:06:13
    Author     : dijalma
*/
/*@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);*/

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #fcfcfc;
    font-family: 'Roboto Condensed', sans-serif !important;
}

.header_login{
    position: fixed;
    top: 0;
    width: 100%;
    height: 170px;
    box-shadow:  0px 0px 10px -2px #000;
    z-index: 3;
    background: #fcfcfc;
}

.icon_sistema {
    float: left;
    width: 300px;
    height: 100%;
    text-align: center;
}

#icon_iescolar {
    position: relative;
    margin: 0 auto;
    width: 250px;
    margin-top: 50px;
}

.btLogin{
    float: right;
    right: 0px;
    margin: 10px;
    padding: 10px;
}

.container_slide {
    width: 100%;
    margin-top: 160px;
    background: url(../imagens/cajazeiras/catedral-jul-2012-b.jpg) no-repeat fixed;
    background-size: 100%;
    height: 600px;
    text-align: center;
}

.effect_shadow{
    margin: 0 auto;
    position: absolute;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 600px;
    border-radius: 5px;
    box-shadow:  0px 0px 4px 2px #000;
}

.info_prefeitura{
    position: relative;
    color: white;
    top: 30px !important;
}

.login_big {
    position: relative;
    top: 120px;
}

.btn-transparent{
    background: transparent;
    border: 1px solid !important;
    color: white;
    width: 180px;
    padding: 30px;
    border-radius: 5px;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 1.5s !important;
}

.btn-login {
    background: #5C9464 !important;
    color: white !important;
}

.container_section{
    text-align: center;
    padding: 20px;
    font-family: 'Ubuntu Mono' !important;
    color: #6D6D6D !important;
}

.container_white {
    background: white;
}

.btn-login:hover {
    transition-duration: 1s;
    background: #2a4f2a !important;
}

.container_cinza {
    background: #F3F3F3;
}

.container_section h1 {
    font-size: 50px !important; 
}

.redesSociais {
    width: 80%;
    margin: 0 auto !important;
}

.icons {
    width: 80px;
    height: 80px; 
}

.icons_special{
    width: 100px;
    height: 100px; 
}

.icons_special:hover {
    /*transform: rotate(720deg);*/
    transition-duration: 1s;
    transform: rotate3d(1,2,3,720deg);
}

.conteudo_tema {
    width: 85%;
    margin: 0 auto;
    letter-spacing: 1px;
}

.footer {
    margin-top: 300px;
    background: #F3F3F3;
    width: 100%;
    height: 160px;
    box-shadow: 0px 0px 5px -1px #000;
    font-family: 'Ubuntu Mono' !important;
}

.icon-footer {
    width: 80px;
    position: relative;
    top: -72px;
    left: 20px;

    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;

    /*-webkit-animation-delay: 2s;*/
    /*-webkit-animation-iteration-count: infinite;*/
}

.icon_modal {
    width: 80px;
    position: relative;
    top: -65px;
}

.modal_dark {
    position: fixed;
    top: 0px !important;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    z-index: 4;
    
}

.modal_start {
    position: fixed;
    top: 0px !important;
    width: 100%;
    height: 100%;
    z-index: 5;
    overflow-y: auto;
}

.modal_conteudo {
    background: #F3F3F3;
    box-shadow: 0px 0px 10px -2px #000;
    font-family: 'Ubuntu Mono' !important;
    text-align: center;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 8px;
    -webkit-animation-duration: 1.4s !important;
    -moz-animation-duration: 1.4s !important;
}

#x{
    margin: 10px !important;
    color: #8F8F8F !important;
    font-size: 20px !important;
}

.icons_little {
    width: 15px;
    height: 15px;
}

.modal_title {
    margin-top: -60px !important;
}

.modal_login{
    text-align: left;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px !important;
}

.botao_entrar {
    text-align: right;
}

.icon_up {
    width: 50px;
}

.button_top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.invisible {
    display: none;
}

@media(max-width: 1024px){
	.info_prefeitura img{
	    width: 100px;
	}

	.info_prefeitura h3 {
		font-size: 20px !important;
	}
}


@media(max-width: 768px){

	.info_prefeitura img{
	    width: 100px !important;
	}

	.info_prefeitura h3 {
		font-size: 20px !important;
        
	}

	.container_slide {
        background: url(../imagens/cajazeiras/catedral-jul-2012-b.jpg) fixed no-repeat;
        background-position: bottom center;
        background-size: 120% 100%;
        height: 420px;
    }

    .effect_shadow {
        height: 420px;
    }

    .container_section h1{
        font-size: 40px !important;
    }

    .icons_special{
        width: 90px;
        height: 90px; 
    }
}

@media(max-width: 425px){


    .info_prefeitura img{
        width: 80px !important;
    }

    .info_prefeitura h3 {
        font-size: 15px !important;   
    }

    .redesSociais {
        width: 90%;
        margin: 0 auto !important;
    }

    .container_slide {
        background: url(../imagens/cajazeiras/catedral-jul-2012-b.jpg) fixed no-repeat;
        background-position: bottom center;
        background-size: 200% 100%;
        height: 420px;
    }

    .btn-transparent{
        width: 150px;
        padding: 20px;
    }

    .icons_special{
        width: 80px;
        height: 80px; 
    }

    .footer {
        font-size: 12px;
    }

    .container_section h1{
        font-size: 28px !important;
    }

    .conteudo_tema {
        width: 95%;
    }

    .conteudo_tema h4{
        font-size: 15px !important;
    } 

    .sub_topico h2 {
        font-size: 27px;
    }

    .modal_conteudo {
        width: 370px;
        height: 370px;
        margin-top: 100px;
    }

    .icon_up {
        width: 40px;
    }
}

@media(max-width: 375px){

    .icon_sistema {
        width: 80px;
        margin: 5px;
    }

    #icon_iescolar {
        width: 200px !important;
        height: 81px !important;
    }

     .modal_conteudo {
        width: 320px;
        height: 350px;
        margin-top: 120px;
    }

    .footer {
        font-size: 11px;
    }
}

@media(max-width: 320px){

    
    .info_prefeitura img{
        width: 70px !important;
    }

    .info_prefeitura h3 {
        font-size: 14px !important;   
    }

    .footer {
        height: 100px;
        font-size: 10px;
    }  

    #copyright {
        margin-top: -40px;
        padding: 1px;
    } 

     .modal_conteudo {
        width: 300px;
        height: 350px;
        margin-top: 120px;
    }

    .icon_up {
        width: 35px;
    }

    .button_top {
        bottom: 10px;
    }
}