/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/06/2016, 18:02:13
    Author     : dijalma
*/
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

*{
	margin: 0;
	padding: 0;
}

//cor do header
@colorHeader: #fcfcfc;

//cor do nome da prefeitura na frente da imagem
@colorNameCity: white;

//cor padrão do sistema
@colorBase: #5C9464;

//fonte principal
@fontBase: 'Ubuntu Mono';

//fonte secundaria
@fontSecundaria: 'Roboto Condensed', sans-serif;

//cor da letra no conteudo_section
@colorLetterSection: #6D6D6D;

//cor do rodapé
@colorFooter: #F3F3F3;


body {
	background: @colorBase !important;
}